*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    flex-direction:center;
}

.row{
    overflow: hidden;
    max-width: 850px;
    min-width: 450px;
}


.boton{
    border: none;
    border-bottom: none;
    bottom: none ;
    background-color: transparent;
    margin-left: 1rem;
}



.abajo-derecha{

background-color: rgb(19, 48, 64);
color: white;
display: flex;
width: 300px;
height: 610px;
border-radius: 10px;

}


.form-check{
    border-color: black;
    border:solid grey 1px;
    
}

/* .form-check{
   border: solid 2px #d7da30;
   width: 100%;
   border-radius: 10px;

}
 */

.form-check:focus-within{
    background-color: #d7da3050;
    border: solid 2px #d7da30;

}

.form-check-label{
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;
}

.button{
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 2rem;
    margin-left: 0;
    background-color:#d8da30 ;
    border-radius: 10px;
    width: 300px;
    height: 40px;
    border: none;
    
   
}

.input-group{
    display: flex;
    border-radius: 10px;
    width: 300px;
    height:30px ;
   
}

.input-group>span{
    background-color: #e0f4fd;
    border: none;
    outline: none;

}

.input-group:focus-within .input-group-text{
border-color: 2px #d8da30; 
background-color: #d7da30;

}

.form-control:focus{
    background-color: #d8da30;
    
}


.pagos_generales{
    background-color: rgb(2, 25, 37);
    width: 400px;
    height: 200px;
    border-radius: 10px;
    border-top-color: #d7da30;
    border-top-style: solid;
    
    
}

.pago_del_mes{
    color: #d7da30;

}

.pago_total_prestamo{
    color:white;
 
}